
 
 <div class="batmanysuperman">
	
<%= link_to image_tag("batman2.jpg"), "http://localhost:3000/pages/batman", class: 'batman2', style: 'float:left' %>

<%= link_to image_tag("superman2.jpg"), "http://localhost:3000/pages/superman",  class: 'superman2', style: 'float:right' %>


</div>	