// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{

	margin: 0;
	box-sizing: border-box;
}


.batman{
   background: image-url("batman.jpg") no-repeat;
   background-size: cover;
   height: 800px;
   
}


.superman{

	 background: image-url("superman.jpeg") no-repeat;
   background-size: cover;
   height: 600px;
}

